


.website-button {
    border-color: #be02e8;
}

.navbar-color {
    background-color: #212121;
}

.user-dropdown {
    background-color: #440053 !important;
    border-color: #32003d !important;
}

.tab-pane {
    background-color: #5c5c5c !important;
}

.nav-item {
    background-color: #212121 !important;
}