# Ignorer les fichiers de configuration
application/config/database.php
application/config/config.php


# Ignorer les dossiers de cache et de logs
application/cache/*
application/logs/*


# Ignorer les fichiers temporaires et les uploads
/uploads/*
tmp/*

# Exclure les sous-dossiers nécessaires pour garder /uploads/images/decloedt/logo/
!/uploads/images/
!/uploads/images/decloedt/
!/uploads/images/decloedt/logo/
!/uploads/images/decloedt/logo/*

# Ignorer uniquement gallery_cover et slider dans /uploads/images
/uploads/images/gallery_cover/
/uploads/images/slider/


# Ignorer les fichiers et dossiers générés par l'IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorer les fichiers système
.DS_Store
Thumbs.db
.codegpt