/*------------------------------------
About Us Page Styling
------------------------------------*/

/* Hero Section */



.about-section-content {
  max-width: 992px; /* Limite la largeur du contenu */
}

.general-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 2;
  text-transform: uppercase;
  animation: fadeIn 1.5s ease;
}

.background-animation {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
  animation: backgroundMove 6s infinite linear;
}

@keyframes backgroundMove {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}



.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}




.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.split-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
}

.dynamic-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2575fc;
  margin-top: 1.5rem;
}

/* Animation */
.fade-in {
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}







.dynamic-message::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: #ffffff;
  transition: 0.5s;
}


.about-image-container {
  width: 100%;
  height: 64vh;
  z-index: -2;
}

.about-image-container img {
  width: 100%;
  height: 127vh;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: -300px;
  left: 0;
  z-index: -1;
}


.about-section {
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  min-height: 100vh; /* Prend toute la hauteur de la fenêtre */
  text-align: center; /* Centre le texte à l'intérieur */
  padding: 20px; /* Ajoute un espace autour pour les petits écrans */
  box-sizing: border-box;
}

.about-section-content h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  padding-bottom: 20px;
}

.about-section-content h3 {
  color: #ababab;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-section-top-svg {
  position: absolute;
  top: -5vh;
  filter: drop-shadow(0 -2px 1px #00000084);
  z-index: -2;
}

.about-section-bottom-svg {
  position: absolute;
  bottom: -2vh;
  filter: drop-shadow(0 2px 1px #00000084);
}

/*--------------------------------------Responsive Design---------------------------------------------*/

/*--------------------------------------------576px---------------------------------------------------*/
/* Extra small devices (phones) */
@media (max-width: 576px) {
  .about-section {
    min-height: 68px;
  }
  .dynamic-message {
    display: block;
    margin-top: 20px;
    padding: 30px;
    font-size: 1em;
    font-weight: bold;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: #f7f2f2;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .about-section-top-svg {
    top: -10px;
  }

  .about-section-bottom-svg {
    bottom: -3px;
  }

  .about-section-content h1 {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .about-section-content h3 {
    font-size: 20px;
  }

  .about-section-content p {
    font-size: 18px;
    padding-bottom: 10px !important;
    overflow: hidden;
  }

  .about-image-container {
    height: 115vh;
  }

  .about-image-container img {
    height: 244vh;
  }
  .about-section-content {
    padding: 3rem;
    text-align: center;
    background: #4d4d4dde;
    border-radius: 15px;
    margin-top: 102px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  .about-section-content p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
}
/*--------------------------------------------576px---------------------------------------------------*/
/* Small devices (tablets) */
@media (min-width: 576px) {
  .about-section-top-svg {
    top: -2vh;
  }

  .about-section-bottom-svg {
    bottom: -1vh;
  }

  .about-section {
    min-height: 68px;
  }
  .about-image-container img {
    height: 150vh;
  }
  .dynamic-message {
    display: block;
    margin-top: 20px;
    padding: 0px;
    font-size: 1em;
    font-weight: bold;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: #f7f2f2;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .about-section-content {
    padding: 2rem;
    text-align: center;
    background: #4d4d4dde;
    border-radius: 15px;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  .about-section-content p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}
/*--------------------------------------------768px---------------------------------------------------*/
/* Medium devices (desktops) */
@media (min-width: 768px) {
  .about-section-top-svg {
    top: -2.5vh;
  }

  .about-section-bottom-svg {
    bottom: -10px;
  }
  .dynamic-message {
    display: block;
    margin-top: 20px;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: #f7f2f2;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .about-image-container img {
    height: 132vh;
  }
  .about-section-content {
    padding: 3rem;
    text-align: center;
    background: #4d4d4dde;
    border-radius: 15px;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  .about-section-content p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
}
/*--------------------------------------------992px---------------------------------------------------*/

/* Large devices (desktops) */
@media (min-width: 992px) {
  .about-section-top-svg {
    top: -3.5vh;
  }

  .about-section-bottom-svg {
    bottom: -2.5vh;
  }
  .dynamic-message {
    display: block;
    margin-top: 20px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: #f7f2f2;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .about-image-container img {
    height: 126vh;
  }
  .about-section-content {
    padding: 3rem;
    text-align: center;
    background: #4d4d4dde;
    border-radius: 15px;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  .about-section-content p {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

  
}
/*--------------------------------------------1200px--------------------------------------------------*/

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
  .about-section-top-svg {
    top: -4vh;
  }

  .about-section-bottom-svg {
    bottom: -3vh;
  }
  .dynamic-message {
    display: block;
    margin-top: 9px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: #f7f2f2;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .about-image-container img {
    height: 150vh;
  }
  .about-section-content {
    padding: 2rem;
    text-align: center;
    background: #4d4d4dde;
    border-radius: 15px;
    margin-top: 15px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }

  .about-section-content p {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px)  and (max-height: 773px) {
  .about-section-top-svg {
    top: -4vh;
  }

  .about-section-bottom-svg {
    bottom: -3vh;
  }
  .dynamic-message {
    display: block;
    margin-top: 9px;
    padding: 15px;
    font-size: 1.1em;
    font-weight: bold;
    font-family: "Lucida Handwriting", "Brush Script MT", cursive;
    color: #f7f2f2;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  .about-image-container img {
    height: 150vh;
  }
  .about-section-content {
    padding: 2rem;
    text-align: center;
    background: #4d4d4dde;
    border-radius: 15px;
    margin-top: 0px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  .about-section-content p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  
}
