
/*!
Author : Arran Van Aerschot
Project : Decloedt
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

var {
  --font-primary: "Roboto", sans-serif;
}

body,
main {
  position: relative;
  z-index: -3 !important;
  background: #212121 !important;
  font-family: var(--font-primary);
}
#mobile-version-announcement img {
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.3));
}
.btn-light:hover {
  background-color: #6c63ff;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.section {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: 100%;

}
.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: #ffffff; /* Couleur de fond pour un meilleur contraste */
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
}
.text-container_wayo {
  flex: 1;
  padding: 60px;
  background-color: #cdc9e1; /* Couleur de fond blanche */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;
  text-align: center; */
}

.text-container p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
}





.promo-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px; /* Add slight rounded corners */
}


.promo-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "The Seasons";

}

.coming-soon {
  font-size: 1.8rem;
  color: #402e8e;
  margin-bottom: 25px;
  font-weight: 600;
}

.promo-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.store-button img {
  width: 160px;
  height: auto;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.store-button img:hover {
  transform: translateY(-5px) scale(1.1);
}

/* Responsive Styles */
@media (max-width: 992px) {
 
  .text-container h1 {
    margin-bottom: 89px;
    color: #ffffff;
  }
  
  

  .promo-title {
    font-size: 2rem;
  }

  .coming-soon {
    font-size: 1.6rem;
  }
}




.general-container {
  position: relative;
  background: #212121ba;
  align-items: center;
  width: 100%;
  min-height: 300px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-position: top;
}

.general-container-ol-bot,
.general-container-ol {
  position: absolute;
  background: #2121215e;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 300px;
  backdrop-filter: blur(5px);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-size: cover;
  background-position: top;
}

.general-container-ol-bot{
    backdrop-filter: blur(0px);

}





.ct-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.general-header h1 {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  letter-spacing: 0.1em;
  font-size: 3rem;
  font-weight: 900;
  opacity: 1;
  text-transform: uppercase;
  text-shadow: hsla(0, 45%, 5%, 0.3) 0 0 1px,
    hsla(360, 55%, 95%, 0.3) 0 -1px 2px, hsla(0, 45%, 5%, 0.3) 0 -1px 2px,
    hsla(360, 55%, 95%, 0.3) 0 20px 15px;
  z-index: 2;
}

.general-header .text_fade {
  -webkit-animation: fade_text 8s infinite ease-in;
  -moz-animation: fade_text 8s infinite ease-in;
  -o-animation: fade_text 8s infinite ease-in;
  animation: fade_text 8s infinite ease-in;
}
.general-header div {
  position: absolute;
  width: 0.001vmin;
  height: 0.001vmin;
  border-radius: 50%;
  opacity: 0.1;
}

.general-header div:nth-child(2) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #212121;
  box-shadow: 0 0 45vmax 45vmax #212121;
  -webkit-animation: hue 10s 0s linear infinite, move1 19s 0s linear infinite;
  animation: hue 10s 0s linear infinite, move1 19s 0s linear infinite;
}

.general-header div:nth-child(3) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #282828;
  box-shadow: 0 0 45vmax 45vmax #474747;
  -webkit-animation: hue 15s 0s linear infinite, move2 25s 0s linear infinite;
  animation: hue 15s 0s linear infinite, move2 25s 0s linear infinite;
}

.general-header div:nth-child(4) {
  -webkit-box-shadow: 0 0 45vmax 45vmax #e7e7e7;
  box-shadow: 0 0 45vmax 45vmax #b0b0b0;
  -webkit-animation: hue 20s 0s linear infinite, move3 15s 0s linear infinite;
  animation: hue 20s 0s linear infinite, move3 15s 0s linear infinite;
  opacity: 0.2;
}
@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@-webkit-keyframes move3 {
  0% {
    top: 100vh;
    left: 50vw;
  }
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}
@keyframes move3 {
  0% {
    top: 100vh;
    left: 50vw;
  }
  25% {
    left: 100vw;
  }
  50% {
    top: 0vh;
  }
  75% {
    left: 0vw;
  }
  100% {
    top: 100vh;
    left: 50vw;
  }
}


/*--------------------------------------Responsive Design---------------------------------------------*/

@media (max-width: 768px) {
  .section {
    flex-direction: column; /* Passe en colonne sur les petits écrans */
}

.image-container, .text-container {
    flex: unset;
    width: 100%; /* Les deux colonnes prennent 100% de la largeur */
}

.image-container img {
    height: auto; /* Garde les proportions de l'image */
}

.text-container {
    padding: 15px;
}

  .promo-title {
    font-size: 2rem;
  }

  .promo-image-container {
    margin-bottom: 20px;
  }

  .promo-buttons {
    justify-content: center;
  }
  .promo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    padding: 0px; /* Space between image and border */
    background-color: #f9f9f9; /* Optional background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a lifted effect */
  }

  
  
}

/*--------------------------------------------576px---------------------------------------------------*//*--------------------------------------------Extra small devices (phones)---------------------------------------------------*/
@media (max-width: 576px) {

  .general-header h1 {
    font-size: 2rem;
    transition: all 0.3s ease-in;
  }
  .promo-title {
    font-size: 1.7rem;
  }

  .coming-soon {
    font-size: 1.4rem;
  }

  .store-button img {
    width: 120px;
  }
  .promo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    padding: 0px; /* Space between image and border */
    background-color: #f9f9f9; /* Optional background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a lifted effect */
  }
  .text-container h1 {
  margin-bottom: 89px;
  color: #ffffff;
  }

}

/*--------------------------------------------Small devices (tablets)---------------------------------------------------*/
@media (min-width: 576px)  {

  
  .about-header h1 {
    font-size: 2rem;
    letter-spacing: 0.5em;
    transition: all 0.3s ease-in;
  }
 
  .promo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    padding: 0px; /* Space between image and border */
    background-color: #f9f9f9; /* Optional background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a lifted effect */
  }
  .promo-title {
    font-size: 2rem;
  }
}

/*--------------------------------------------Medium devices (tablets/desktops)---------------------------------------------------*/
@media (min-width: 768px)  {

  
  .app-promo-text {
    text-align: center;
  }

  .promo-buttons {
    justify-content: center;
  }
  .app-promo-image img {
    max-width: 100%;
    margin-top: 20px;
  }
  .promo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    padding: 0px; /* Space between image and border */
    background-color: #f9f9f9; /* Optional background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a lifted effect */
  }
  .promo-title {
    font-size: 2rem;
  }
}


/*--------------------------------------------Extra large devices (large desktops)---------------------------------------------------*/
@media (min-width: 1200px) {
 
  
  .promo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    padding: 0px; /* Space between image and border */
    background-color: #f9f9f9; /* Optional background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a lifted effect */
  }
  .promo-title {
    font-size: 2rem;
  }
}

/*--------------------------------------------Specific adjustments for smaller devices---------------------------------------------------*/
@media (max-width: 430px) {
  
  .promo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Light gray border */
    border-radius: 15px; /* Rounded corners */
    padding: 0px; /* Space between image and border */
    background-color: #f9f9f9; /* Optional background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a lifted effect */
  }
  .promo-title {
    font-size: 2rem;
  }
}


/*----------------------
Scroll Bar Styling
-----------------------*/

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #878787 #212121;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #212121;
}

*::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 0px;
  border: 0px dashed #1f1f1f;
}