#schoolFormSelector,
#studentFormSelector {
  position: relative;
  background-color: #2e2e2e;
  border: none;
  min-width: 100px !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  cursor: grab;
  color: #b0b0b0;
  font-weight: 700;
  height: 30px;
  bottom: -10px;
}

.active-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -2px 15px;
  color: #fff !important;
  background-color: #8f00af !important ;
  height :40px !important;
  bottom: 0px !important;
}

.selector-underline {
  position: absolute;
  bottom: 0;
  background: #767676;
  height: 2px;
  width: 100%;
  background: #8f00af ;
}

.underline-right {
  background: linear-gradient(to left, #2e2e2e 0%, #2e2e2e 30%,#6f0088 50%,#8f00af 70%) !important;
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
}

.underline-left {
  background: linear-gradient(to right,  #2e2e2e 0%, #2e2e2e 30%,#6f0088 50%,#8f00af 70%) !important;
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
}


.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.button-label {
  background-color: #8f00af !important;
  font-weight: 700;
  position: relative;
  width: 85%;
  left: 0;
  min-height: 36px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-label:hover {
  box-shadow: none;
}

.button-label svg {
  position: absolute;
  top: 4px;
  left: 10px;
}

.file-spacer {
  background-color: #ffffff !important;
  position: absolute;
  width: 1px !important;
  height: 100%;
  bottom: -6px;
  left: 50px;
}

.file-name {
  position: relative;
  top: 3px;
  left: 10px;
  font-weight: 500;
  font-size: 12px;
  font-style: italic;
}

.form-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #bfbfbf;
}

.admission-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #bfbfbf;
}

.form-section {
  -webkit-box-shadow: 0px -16px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -16px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -16px 21px -21px rgba(0, 0, 0, 0.75);
  position: relative;
}

textarea {
  resize: none;
}

.modal-content {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0%;
  min-height: 100%;
  bottom: 0;
  background-color: #000000ed;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.01),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1;
}

.photo-container span {
  cursor: pointer;
  position: absolute;
  align-items: center;
  top: -10%;
  right: 5%;
  width: 30px;
  height: 30px;
  color: #fff;
  z-index: 10;
}

.pdf-container span {
  cursor: pointer;
  position: absolute;
  align-items: center;
  top: -10%;
  right: 0;
  width: 30px;
  height: 30px;
  color: #fff;
  z-index: 10;
}

.modal-content img {
  position: relative;
  object-fit: cover;
  min-width: 300px;
  min-height: 300px;
  z-index: 10;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.photo-container {
  display: flex;
  position: relative;
  max-width: 600px;
  align-items: center;
}

.modal-content object {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.pdf-container {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 600px;
}

.display-none {
  display: none;
}

.pdf-preview-btn,
.photo-preview-btn {
  color: #fff !important;
  position: absolute;
  top: 29px;
  right: 11px;
  height: 35px;
  background-color: #3f3f3f;
}

.pdf-preview-btn:hover,
.photo-preview-btn:hover {
  background-color: #2a2a2a !important;
}

.pdf-preview .disabled,
.photo-preview .disabled {
  background-color: #303030 !important;
  border: 1px solid #303030 !important;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 0;
}


.submit-button{

  background-color: #8f00af !important;
  color: #fff !important;
  font-weight: 700;

}

@media (min-width: 768px) {
  .pdf-container {
    width: 50%;
    height: 80vh;
  }
}
