<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8ulx2xAsbtQn97HBB6Tdb86OBti4cOQU</string>
	<key>GCM_SENDER_ID</key>
	<string>412913253090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolManagement.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>schoolmanagement-815bf</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolmanagement-815bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412913253090:ios:b744716b1ed1b1d38efcbb</string>
</dict>
</plist>